<html>
<head>
<title>My Angular App!</title>
	
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	
	<script src="/javascripts/angularApp.js"></script>
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
	
	
	
	<style> .glyphicon-thumbs-up {cursor:pointer} </style>
	
	<style> .glyphicon-thumbs-down {cursor:pointer} </style>
</head>

<body ng-app="samaafNews">
	<div class="row">
	 <div class="col-md-6 col-md-offset-3">
	<!--This is an example of using grid layout-->
		<ui-view></ui-view>
	 </div>
	</div>
	<script type="text/ng-template" id="/home.html">	
	
	 <div class="page-header">
	   <h1>Samaaf News</h1>
	 </div>	 	 

	 <div ng-repeat="post in posts | orderBy: '(downvotes-upvotes)'">
	   <span style="font-size:20px; margin-left:10px;">
	      <a ng-show="post.link" href="{{post.link}}">
		{{post.title}}
	      </a>		
	     <span ng-hide="post.link">
	         {{post.title}}
	     </span>
	  </span>
	 - upvotes:{{post.upvotes}}-downvotes:{{post.downvotes}}
	
	<span class="glyphicon glyphicon-thumbs-up" ng-click="increment(post)"></span>
	
	<span class="glyphicon glyphicon-thumbs-down" ng-click="decrement(post)"></span>
	<span>
  		<a href="#/posts/{{$index}}">Comments</a>
	</span>
	</div>
	
    <form ng-submit="addPost()" style="margin-top:30px;"> 
	<h3>Add a new post</h3>
	<div class="form-group">
	      <input type="text" 
		class="form-control"
		placeholder="Title"
		ng-model="title">
	      </input> <br/>
	</div>
	<div class="form-group">
	     <input type="text" 
		class="form-control"
		placeholder="Link" 
		ng-model="link">
	     </input><br/>
	</div>
	  <button type="submit" class="btn btn-primary">Post</button>
    	</form>
	
	</script>

	<script type="text/ng-template" id="/posts.html">
	<div class="page-header">
    	    <h3>
      		<a ng-show="post.link" href="{{post.link}}">
        	    {{post.title}}
      		</a>
      	   	<span ng-hide="post.link">
        		{{post.title}}
      		</span>
    	   </h3>
  	  </div>

  	  <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    	     <span class="glyphicon glyphicon-thumbs-up"
      		ng-click="increment(comment)"></span>
                {{comment.upvotes}} - by {{comment.author}}
    	     <span style="font-size:20px; margin-left:10px;">
      			{{comment.body}}
    	     </span>
  	  </div>
	  <form ng-submit="addComment()" style="margin-top:30px;">
		<h3>Add a new Comment</h3>
		
		<div class="form-group">
		  <input type="text"
			class="form-control"
			placeholder="Comments"
			ng-model="body">
		 </input>
		</div>
			
		<div class="form-group">
                  <input type="text"
                        class="form-control"
                        placeholder="Author-name"
                        ng-model="author">
                 </input>
                </div>		
		<button type="submit" class="btn btn-primary">Add</button>
	 </form>	
	</script>		 	
</body>
</html>

